---
import MainLayout from "@layouts/MainLayout.astro";
import Title from "@components/shared/Title.astro";
import { FavoritePokemons } from "@components/pokemons/FavoritePokemons";
---

<MainLayout title="Favorite Pokémons">
    <Title>Favorite Pokémons</Title>

    <FavoritePokemons client:only="solid-js" />
</MainLayout>
