---
import MainLayout from "@layouts/MainLayout.astro";
import Title from "@components/shared/Title.astro";

---
<MainLayout title="Favorite Pokémons">
    <Title>Favorite Pokémons</Title>
</MainLayout>
